@model HomeModel


@{
    ViewData["Title"] = "Home Page";
    
}

@BodyContent{}

<div id="Home" class="jumbotron">
    <div class="logo @(Model.Logo ? "":"hidden")">
        <img alt="America Rethink" src="/images/logo.png" />
    </div>
    <div class="quote italic">
        <h4>
            @Model.Text

            @Model.Stuff[0]
        </h4>
    </div>
    
</div>

