<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="remoteConnection"  connectionString="server=107.180.50.241;
                                                        port=3306;
                                                        Persist Security Info=True;
                                                        database=america_rethink_TEST;
                                                        user=DustinWasserman;
                                                        password=veCsyd-cebreh-bakno3;"/>
    </connectionStrings>
</configuration>
